body {

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
/* Navigation */
.navbar-default {
  background-color:transparent;
  border-color: transparent;
}

/* Typography */
.background-image-container {
  position: absolute;
  z-index: -1;
  margin-top: -7%;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
}

header {
  background: url('../img/scms.jpg') 50% 50% no-repeat;
  background-size: cover;
  padding: 20px 0 60px;
}

.header-text {
  position: relative;
  margin-top: 18%;
  margin-bottom: 20%;
  width: auto;
}

.contactMe {
  height: 200px;
  background-color: #a3a3a3;
}

.myFooter {
  height: 200px;
  background-color: #eee;
}

.aboutMe {
  padding-top: 20px;
}

.aboutMe > .social-icons > a {
  padding: 0px 5px 0px 5px;
}

.aboutMe > p {
  color: #636363;
  padding: 0px 100px;
}

#contactMariusz {
  padding-bottom: 20px;
}

@media (max-width: 767px) {
  header .col-sm-12 {
    padding-top: 0px;
  }
}
