body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
/* Navigation */
.navbar-default {
  background-color:transparent;
  border-color: transparent;
}

/* Typography */

#scmsImage {
  position: absolute;
  margin-top: -12%;
  z-index: -1;
}

#headerText {
  position: relative;
  margin-top: 15%;
}

.description {
  background: url("img/scms.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
